@page
@model ProductsModel

<a class="btn btn-info" asp-page="./CreateProduct" asp-route-returnUrl="@Model.ReturnUrl">Create product</a>

@foreach (var item in Model.Items)
{
    <div class="product-item">
        <div class="main-info">
            <div class="status">
                <label><b>№@item.Id</b></label>
            </div>
            <div class="info">
                <div class="images">
                    @foreach (var publicId in item.Images)
                    {
                        string imgUrl = "https://res.cloudinary.com/dlytf9rwa/image/upload/c_scale,w_200/v1725876030/" + publicId.PublicId + ".jpg";
                        <img id="ItemPreview" src="@imgUrl" height="80" />
                    }
                </div>
                <div class="price-section">
                    <partial name="_price" for="@item.Price" />

                    <img onclick="changeVisibilityAdditionalInfo(this, @item.Id)" src="~/img/arrow-down.png" width="20" height="20"/>
                </div>
            </div>
        </div>
        <div class="additional-info_@item.Id">
            <label><b>Product name: </b>@item.Name</label>
            <label><b>Product type: </b>@item.TypeName</label>
            <label><b>Product size: </b>@item.SizeName</label>
            <label><b>Creation date: </b>@item.CreationDate.ToShortDateString()</label>
            <div class="actions">
                <input class="btn btn-danger" type="button" value="Delete"/>
                <a class="btn btn-secondary" asp-page="./ChangeProductPrice" asp-route-id="@item.Id">Change price</a>
            </div>
        </div>
    </div>
}
<script>
    function changeVisibilityAdditionalInfo(arrow, blockId) {
        let src = (arrow.src === this.origin + "/img/arrow-down.png")
            ? "/img/arrow-up.png"
            : "/img/arrow-down.png";
        arrow.src = src;

        let display = ($(".additional-info_" + blockId).css("display") === 'none')
            ? 'grid'
            : 'none';
        $(".additional-info_" + blockId).css("display", display);
    }

</script>