@page
@model LoginModel

<div class="row login">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Login</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </div>
                
                <div class="login-additional">
                    OR
                </div>
                <div class="list-group">

                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        <img src="~/img/lock.png" width="25" height="25" />
                        Register as a new user
                    </a>
                    
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">
                        <img src="~/img/mail.png" width="45" height="25" />
                        Resend email confirmation
                    </a>
                </div>
            </form>
            @if ((Model.ExternalLogins?.Count ?? 0) != 0)
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                if (provider.DisplayName == "Google")
                                {
                                    
                                    <button type="submit" class="oauth-btn" name="provider" value="@provider.Name">
                                        <img src="~/img/google-logo.png" width="25" height="25" />
                                        Log in with Google
                                    </button>
                                }
                                else {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            }
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
