@page "{id}"
@model Web.Pages.Product.IndexModel

<div class="container product-details">
    <div class="left">
        <div class="swiper-product-details-container">
            <div class="swiper swiper-product-details">
                <div class="swiper-wrapper">
                    @foreach (var publicId in Model.PageModel.Item.Images)
                    {
                        string imgUrl = "https://res.cloudinary.com/dlytf9rwa/image/upload/ar_1:1,c_pad,dn_50,w_2000/v1725876030/" + publicId.PublicId + ".jpg";
                        <div class="swiper-slide">
                            <img src="@imgUrl" height="450">
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="description-container">
            <ul>
                <li>@Model.PageModel.Item.SizeName</li>
                <li>@Model.PageModel.Item.TypeName</li>
            </ul>
            <h1>
                Description
            </h1>
            <div class="description">
                @Model.PageModel.Item.Description
            </div>
        </div>
    </div>
    <div class="right">
        <div class="price-container">
            <label>Published in @Model.PageModel.Item.CreationDate.ToString("dd MMM. yyyy", System.Globalization.CultureInfo.InvariantCulture)</label>
            <h2>@Model.PageModel.Item.Name</h2>
            <partial name="Shared/_price" for="PageModel.Item.Price"/>
            <form asp-page="/Basket/Index" method="post">
                <input class="btn btn-primary" type="submit" value="ADD TO BASKET" />
                <input type="hidden" asp-for="@Model.PageModel.Item.Id" name="productId" />
            </form>
        </div>
        <div class="seller-info">
            <h1>Seller...</h1>
            @if (Model.PageModel.IsShowSubscriptionButton)
            {
                <form method="post">
                    <input class="btn btn-primary" type="submit" value="SUBSCRIBE TO THE SELLER" />
                    <input type="hidden" asp-for="@Model.PageModel.Item.Id" name="id" />
                </form>
            }
        </div>
    </div>
</div>
<partial name="_alert" />

<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,

        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },

        scrollbar: {
            el: '.swiper-scrollbar'
        },
    });
</script>
