@page
@model IndexModel

<div class="basket container">
    <h1>Basket</h1>
    @foreach (var item in @Model.PageModel.BasketItems)
    {
        <form method="post" class="basket-item">
            <img class="home-item-img" id="itemHomeMainPhoto" src="data:image/png;base64,@Convert.ToBase64String(item.Image)" width="150" height="180"/>
            <label>@item.Name</label>
            <input type="number" value="@item.Quantity"/>
            <div>
                <partial name="_price" for="@item.Price"/>
            </div>
            <label>@item.SizeName</label>
            <button type="submit" class="btn-close" asp-page-handler="Delete"></button>
            <input type="hidden" asp-for="@item.Id" name="id" />
        </form>
    }
</div>

<partial name="_alert"/>