@page
@model IndexModel

<div class="basket container">
    <h1>Basket</h1>
    @foreach (var item in @Model.PageModel.BasketItems)
    {
        string imgUrl = "https://res.cloudinary.com/dlytf9rwa/image/upload/c_scale,w_300/v1725876030/" + item.ImagePublicId + ".jpg";
        <form method="post" class="basket-item">
            <img class="home-item-img" id="itemHomeMainPhoto" src="@imgUrl" />
            <label>@item.Name</label>
            <input type="number" value="@item.Quantity"/>
            <div>
                <partial name="_price" for="@item.Price"/>
            </div>
            <label>@item.SizeName</label>
            <button type="submit" class="btn-close" asp-page-handler="Delete"></button>
            <input type="hidden" asp-for="@item.Id" name="id" />
        </form>
    }
</div>

<partial name="_alert"/>