@page
@model IndexModel

<section class="catalog-hero">
    <div class="container">
        <img class="img-banner" src="~/img/main_banner_text.png" />
    </div>
</section>

<div class="container">
    <div class="main-page-container">
        <div class="page-navigation">

            @await Component.InvokeAsync("Basket")

            <form method="get" class="filters">
                <label>
                    <select name="@nameof(Model.PageModel.SizeFilterApplied).ToLower()" asp-for="@Model.PageModel.SizeFilterApplied" asp-items="@Model.PageModel.Sizes"></select>
                </label>
                <label>
                    <select name="@nameof(Model.PageModel.TypeFilterApplied).ToLower()" asp-for="@Model.PageModel.TypeFilterApplied" asp-items="@Model.PageModel.Types"></select>
                </label>
                <input class="btn btn-success" type="submit" value="Apply"/>
            </form>
        </div>

        @if (Model.PageModel.ClothingItems.Any())
        {
            <partial name="_pagination" for="PageModel.PaginationInfo"/>
            <div class="home-items-container">
                @foreach (var item in Model.PageModel.ClothingItems)
                {
                    <partial name="_product" for="@item"/>
                }
            </div>
        }
        else
        {
            <div>
                THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
            </div>
        }

    </div>
</div>

<partial name="_alert"/>
